.vs/
Feedback.Api/bin/
Feedback.Api/obj/
Feedback.Application/bin/
Feedback.Application/obj/
Feedback.Domain/bin/
Feedback.Domain/obj/
Feedback.Infrastructure/bin/
Feedback.Infrastructure/obj/
