.vs/
ByggInfo.Meet.Api/bin/
ByggInfo.Meet.Api/obj/
ByggInfo.Meet.Application/bin/
ByggInfo.Meet.Application/obj/
ByggInfo.Meet.Domain/bin/
ByggInfo.Meet.Domain/obj/
ByggInfo.Meet.Infrastructure/bin/
ByggInfo.Meet.Infrastructure/obj/
ByggInfo.Meet.Ldap/obj/
ByggInfo.Meet.Ldap/bin/
ByggInfo.Meet.WebJobs.EmailTrigger/obj/
ByggInfo.Meet.WebJobs.EmailTrigger/bin/
ByggInfo.Meet.WebJob.ScheduledJob/obj/Debug/net5.0/ByggInfo.Meet.WebJob.ScheduleJob.AssemblyInfo.cs
ByggInfo.Meet.WebJob.ScheduledJob/obj/
ByggInfo.Meet.WebJob.ArchiveMeeting/obj/
ByggInfo.Meet.WebJob.Scheduled/bin/
ByggInfo.Meet.WebJob.Scheduled/obj/
DBScripts/Sprint-3/LocalBackup/CompanyUpsert-Backup.sql
DBScripts/Sprint-3/LocalBackup/MeetingDetailUpdate-Backup.sql
DBScripts/Sprint-3/LocalBackup/MeetingDetailUpdate-Check.sql
DBScripts/Sprint-3/LocalBackup/ParticipantUpsert-Backup.sql
