.vs/
Feedback.Api/bin/
Feedback.Api/obj/
Feedback.Application/bin/
Feedback.Application/obj/
Feedback.Domain/bin/
Feedback.Domain/obj/
Feedback.Infrastructure/bin/
Feedback.Infrastructure/obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015/2017 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/